SECRET_KEY = "CHANGE-ME"

DEBUG="1"

ALLOWED_HOSTS = "CHANGE-ME"

DB_ENGINE = "CHANGE-ME"
POSTGRES_DB = "CHANGE-ME"
POSTGRES_USER = "CHANGE-ME"
POSTGRES_PASSWORD = "CHANGE-ME"
POSTGRES_HOST = "CHANGE-ME"
POSTGRES_PORT = "CHANGE-ME"